body{
    font-family: 'Luxurious Roman', cursive;
    margin: 0;
}
.element-clour{
    color: #f3442c;
}
.part{
    display: flex;
    margin-bottom: 100px;
    background-color: peachpuff;
}
.img{
    background-image: url(image/1449527-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: center top;
}
.igm{
    background-image: url(image/download-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.first{
    width: 80%;
    padding: 5%;
    background-color:#7bca9f;
    
}
 .first img{
     width: 100%;
     padding-bottom: 50px;
 }
 .button{
     background-image: linear-gradient(#7976f0,#eeddba);
     color: papayawhip;
     size: 400px;
     border-radius: 10px;
 }
 .third{
       padding-left: 10px;
       margin-bottom: 0px;
 }
 .third-part{
     box-shadow: 20px 20px 30px black;
     margin: 20px;
     border-radius: 10px;
     padding: 10px;
 }
