body{
    font-family: 'Luxurious Roman', cursive;
    margin: 0;
    background-color: aqua;
}
.element-clour{
    color: #f3442c;
}
.part{
    display: flex;
    margin-bottom: 50px;
}
.img{
    background-image: url(image/1449527-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: center top;
}
.igm{
    background-image: url();
    background-repeat: no-repeat;
    background-position: right top;
}
.first{
    width: 80%;
    padding: 5%;
    background-color:#7bca9f;
    
}
 .first img{
     width: 100%;
     padding-bottom: 50px;
 }
 .button{
     background-image: linear-gradient(#7976f0,#eeddba);
     color: papayawhip;
     size: 400px;
     border-radius: 10px;
 }
 .third{
       padding-left: 10px;
       margin-bottom: 0px;
       background-color: brown;
 }
 .third-part{
     box-shadow: 20px 20px 30px black;
     margin: 20px;
     border-radius: 10px;
     padding: 10px;
     background-color: peachpuff;
 }
 .border{
     border-left: 6px solid;
     border-image: linear-gradient(rgba(232, 8, 240, 0.952), rgb(0, 17, 255)) 7;
     /* border-image-slice: 5; */
     border-radius: 10px;
 }
 #medel{
     border-left: 7px solid;
     border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
 }
